@model Maintenance

<h3>@Model.PoolID Information</h3>

<table class="table">
    <tr>
        <th>PoolID</th>
        <th>CleanDate</th>
        <th>Vacuumed</th>
        <th>Brushed</th>
        <th>Skimmed</th>
        <th>Backwashed</th>
        <th>Addedwater</th>
    </tr>
    <tr>
        <td>@Model.PoolID</td>
        <td>@Model.CleanDate</td>
        <td>@Model.Vacuumed</td>
        <td>@Model.Brushed</td>
        <td>@Model.Skimmed</td>
        <td>@Model.Backwashed</td>
        <td>@Model.Addedwater</td>
    </tr>
</table>

<style>
table, th, td {
  border: 1px solid;
  text-align: center;
  font-family:'Dangrek', cursive;
  font-size: 20px;
}
tr:nth-child(even) {background-color: lightgrey;}
</style>
