@model Chem_History

<h3>@Model.PoolID Information</h3>

<table class="table">
    <tr>
        <th>Action</th>
        <th>Revision</th>
        <th>dt_DateTime</th>
        <th>PoolID</th>
        <th>PH</th>
        <th>Chlorine</th>
        <th>Bromine</th>
        <th>Alkalinity</th>
        <th>Stabilizer</th>
    </tr>
    <tr>
        <td>@Model.Action</td>
        <td>@Model.Revision</td>
        <td>@Model.dt_datetime</td>
        <td>@Model.PoolID</td>
        <td>@Model.PH</td>
        <td>@Model.Chlorine</td>
        <td>@Model.Bromine</td>
        <td>@Model.Alkalinity</td>
        <td>@Model.Stabilizer</td>
    </tr>
</table>