@model Chem

<h3>@Model.PoolID Information</h3>

<table class="table">
    <tr>
        <th>PoolID</th>
        <th>PH</th>
        <th>Chlorine</th>
        <th>Bromine</th>
        <th>Alkalinity</th>
        <th>Stabilizer</th>
    </tr>
    <tr>
        <td>@Model.PoolID</td>
        <td>@Model.PH</td>
        <td>@Model.Chlorine</td>
        <td>@Model.Bromine</td>
        <td>@Model.Alkalinity</td>
        <td>@Model.Stabilizer</td>
    </tr>
</table>