@model Chem

<h3>@Model.PoolID Information</h3>

<body>
<table class="table">
    <tr>
        <th>PoolID</th>
        <th>PH</th>
        <th>Chlorine</th>
        <th>Bromine</th>
        <th>Alkalinity</th>
        <th>Stabilizer</th>
    </tr>

    <tr>
        <td>@Model.PoolID</td>
        <td>@Model.PH</td>
        <td>@Model.Chlorine</td>
        <td>@Model.Bromine</td>
        <td>@Model.Alkalinity</td>
        <td>@Model.Stabilizer</td>
    </tr>
</table>

<style>
table, th, td {
  border: 1px solid;
  text-align: center;
  font-family:'Dangrek', cursive;
  font-size: 20px;
}
tr:nth-child(even) {background-color: lightgrey;}

p{text-align: left; font-size: 20px}

</style>

<style>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>


@if(Model.PH >= 8.0)
{
    @*<p class="tooltip">Ideal PH range 7.0-7.8
        <span class="tooltiptext">Add Muriatic Acid</span>
    </p>*@
  <p title="Add Muriatic Acid">Ideal PH range 7.0-7.8</p>
}
@if(Model.PH <= 6.9)
{
    <p title="Add PH up">Ideal PH range 7.0-7.8.</p>
}
@if(Model.Chlorine < 1 && Model.Bromine == 0)
{
    <p title="Add Chlorine">Ideal Chlorine range 1-4</p>
}
@if(Model.Chlorine > 4)
{
    <p title="Add Water">Ideal Chlorine range 1-4</p>
}
@if(Model.Bromine < 3 && Model.Bromine > 0 && Model.Chlorine == 0)
{
    <p title="Add Bromine">Ideal Bromine range 3-5</p>
}
</body>

<style>
    p{font-family:'Dangrek', cursive;
  font-size: 20px}
</style>
