@model Chem

<h3>@Model.PoolID Information</h3>

<table class="table">
    <tr>
        <th>PoolID</th>
        <th>PH</th>
        <th>Chlorine</th>
        <th>Bromine</th>
        <th>Alkalinity</th>
        <th>Stabilizer</th>
    </tr>

    <tr>
        <td>@Model.PoolID</td>
        <td>@Model.PH</td>
        <td>@Model.Chlorine</td>
        <td>@Model.Bromine</td>
        <td>@Model.Alkalinity</td>
        <td>@Model.Stabilizer</td>
    </tr>
</table>

@if(Model.PH >= 8.0)
{
    <p>Your pool needs Muriatic Acid. (Ideal PH range 7.0-7.8)</p>
}
@if(Model.PH <= 6.9)
{
    <p>Your pool needs PH Up. (Ideal PH range 7.0-7.8)</p>
}
@if(Model.Chlorine < 1 && Model.Bromine == 0)
{
    <p>Your pool needs Chlorine. (Ideal Chlorine range 1-4)</p>
}
@if(Model.Chlorine > 4)
{
    <p>Your pool has too much Chlorine. We suggest adding water and checking the levels again. (Ideal Chlorine range 1-4)</p>
}
@if(Model.Bromine < 3 && Model.Bromine < 0 && Model.Chlorine == 0)
{
    <p>Your hottub needs Bromine. (Ideal Bromine range 3-5)</p>
}

    <style>
table, th, td {
  border: 1px solid;
  text-align: center;
}
tr:nth-child(even) {background-color: lightgrey;}

p{text-decoration-line: underline; text-decoration-color: aqua; text-align: center; font-size: 25px}

</style>

