@model Pool

<h3>@Model.PoolID Information</h3>



<table class="table">
    <tr>
        <th>PoolID</th>
        <th>PoolLocation</th>
        <th>PoolType</th>
    </tr>
    <tr>
        <td>@Model.PoolID</td>
        <td>@Model.PoolLocation</td>
        <td>@Model.PoolType</td>
    </tr>
</table>

<button> <a href="/Pool/UpdatePool/@Model.PoolID">Update pool info</a></button>

<button> <a href="/Chem/ViewChem/@Model.PoolID">View chemical levels</a></button>

<button> <a href="/Chem/UpdateChem/@Model.PoolID">Update chemical levels</a></button>

<button> <a href="/Maintenance/ViewMaintenance/@Model.PoolID">View maintenace</a></button>

<button> <a href="/Maintenance/UpdateMaintenance/@Model.PoolID">Update maintenace</a></button>


<style>
table, th, td {
  border: 1px solid;
  text-align: center;
  font-family:'Dangrek', cursive;
  font-size: 20px;
}
tr:nth-child(even) {background-color: lightgray;}

a{color: white}

</style>


@*<button>
    @using (Html.BeginForm("DeletePool", "Pool", FormMethod.Post, new { @class = "hello"}))
    {
        <input type="hidden" asp-for="PoolID" value="@Model.PoolID" />
        <input type= "button" onclick="return confirm('Are you sure?')" value="Delete this pool" />
    }
</button>*@
@*<button> <a href="/Pool/DeletePool/@Model.PoolID">Delete this pool</a></button>*@
@*<style>
.hello{background-color: red; font-size: 15px; font-weight: 700; letter-spacing: .8px; text-transform: uppercase; 
</style>*@


<div>
<button>
<a class=" col-lg-6" asp-area="" asp-controller="Pool" asp-action="DeletePool" asp-route-id="@Model.PoolID">Delete</a>
</button>
</div>

@*@if()
{
    <input type="submit" onclick"return confirm('Are you sure?')" value="Delete this pool"/>
}
*@



<style>
button {
  appearance: button;
  background-color: lightcoral;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 10px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 25%;
}

button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}
</style>

<style>
.button {
  appearance: button;
  background-color: lightcoral;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 10px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 25%;
}

.button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:main,
.button:focus {
  user-select: auto;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button:disabled {
  cursor: auto;
}
</style>

<style> p{font-weight: 400; font-family: 'Dangrek', cursive; font-size: 25px}</style>
<style> a{font-weight: 400; font-family: 'Dangrek', cursive; font-size: 20px}</style>

