@model Pool

<h3>@Model.PoolID Information</h3>

<table class="table">
    <tr>
        <th>PoolID</th>
        <th>PoolLocation</th>
        <th>PoolType</th>
    </tr>
    <tr>
        <td>@Model.PoolID</td>
        <td>@Model.PoolLocation</td>
        <td>@Model.PoolType</td>
    </tr>
</table>

<div style="display: block">
    <a href="/Pool/UpdatePool/@Model.PoolID">Update the ID, location, or type for this pool</a>
</div>

<div style="display: block">
    <a href="/Chem/ViewChem/@Model.PoolID">View the chemical levels for this pool</a>
</div>

<div style="display: block">
    <a href="/Chem/UpdateChem/@Model.PoolID">Update the chemical levels for this pool</a>
</div>

<div style="display: block">
    <a href="/Maintenance/ViewMaintenance/@Model.PoolID">View the maintenace for this pool</a>
</div>

<div style="display: block">
    <a href="/Maintenance/UpdateMaintenance/@Model.PoolID">Update the maintenace for this pool</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeletePool", "Pool", "Post"))
    {
        <input type="hidden" asp-for="PoolID" value="@Model.PoolID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this pool" />
    }
</div>


